@media only screen and (max-width: 1024px) {
  .ohmyfood {
    h2 {
      font-size: 1.6rem;
    }
    .page {
      padding: 1rem;

      .page_specifique {
        h2 {
          padding: 0;
        }

        .row {
          div:first-child {
            width: 85%;
          }
        }
      }
    }
    .row {
      width: 100%;
      margin: 0;

      .menu {
        width: 30vw;
        margin: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  body {
    width: 100%;
  }

  .ohmyfood {
    .row {
      &:first-child {
        padding-top: 1rem;
      }

      .menu {
        width: 43vw;
        height: 75vh;
        margin: 1rem;
      }
    }
  }
}

@media only screen and (max-width: 425px) {
  body {
    margin: 0;
  }

  .ohmyfood {
    .row {
      flex-direction: column;

      .menu {
        width: 85vw;
        margin: 1rem auto;
      }
    }
    .page {
      h2 {
        padding: 0;
        font-size: 2.7rem;
      }

      p {
        margin: 0.5rem auto;
      }

      .page_specifique {
        padding: 2rem 0;

        .row {
          display: flex;
          flex-direction: row;

          div:first-child {
            width: 70%;
          }

          div:last-child {
            width: 20%;
            text-align: right;
            display: flex;
            flex-direction: column;
          }

          ul {
            li {
              flex-direction: column;
              text-align: center;
            }
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 320px) {
  .ohmyfood {
    .page {
      h2 {
        font-size: 2rem;
      }
    }
  }
}
