//degradee

@mixin color_degradee($color1, $color2) {
  background: linear-gradient(to right, $color1, $color2);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@mixin title_degradee($color) {
  background: linear-gradient(to top, $color, transparent 15%) no-repeat left
    bottom / 0 100%;
}

@mixin title_bg($bg-color) {
  background: $bg-color;
}

@mixin title_before($color) {
  &:before {
    border-top: 2px solid $color;
  }
}
