// color-variables
$primary-color: #579c87;
$secondary-color: #fdcb46;
$palePink-color: #fcdfdb;
$pink-color: #fff5fe;
$snow-color: #f5f4f4;
$white-color: #fdfffd;

//color_text
$red: #da4b50;
$rustic-red: #3d1319;
$alloy-orange: #e38913;
$violet-blue: #a56799;
$violet: #6e4ccc;
$blue: #0023db;
$light-blue: #229df9;
$green: #3e923a;
$light-green: #beff7f;

// fonts variables
$primary-fonts: "Roboto", sans-serif;
$fonts-zhiMangXing: "Zhi Mang Xing", cursive;
$fonts-Kalam: "Kalam", cursive;
$fonts-LobsterTwo: "Lobster Two", cursive;
$fonts-Marriweather: "Merriweather";
$fonts-Playball: "Playball", cursive;
$fonts-Courgette: "Courgette", cursive;
